nav {
  background: radial-gradient(circle, #6bbdf1, #2d88d9);
  height: 90.5px;
}

.navbar-logo {
  height: 90px;
  width: auto;
  margin-bottom: 4px;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #f8f9fa !important;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.navbar-social a {
  font-size: 20px;
  transition: color 0.3s;
  margin-right: 12px;
}

.navbar-social a:last-child {
  margin-right: 0;
}

.navbar-social a:hover {
  color: #0dcaf0;
}

#icons a:hover {
  background: var(--color);
  color: #000;
  box-shadow: 0 0 5px var(--color), 0 0 50px var(--color), 0 0 75px var(--color),
    0 0 100px var(--color);
}

.navbar-collapse {
  transition: height 1.5s ease;
  overflow: hidden;
}
